<div class="sentence-show-page">

<div class="sentence-box">
<p class="individual-sentence">THE SENTENCE:</p><p><%=@sentence.content%> </p>
</div>
<div class="sentence-box">
<p class="individual-sentence">Written by:</p><p><%=@user.email %></p>
</div>
<div class="sentence-box">
<p class="individual-sentence">Upvotes:</p><p><%=@sentence.upvotes.size%></p>
</div>
<div class="sentence-box">
<p class="individual-sentence">Created on:</p><p><%=@created%></p>
</div>

<p><%=link_to("Back", story_path(params[:story_id]))%></p>

</div>
