<%= javascript_include_tag 'new_story' %>

<div class="flash-success">
  <p id="success"></p>
<%if flash[:success]%>
    <p><%=flash[:success]%><br></p>

<%elsif flash[:failure]%>
  <p><%=flash[:failure]%><br></p>
<%end%>
</div>

<%=form_for(@story) do |f|%>
  <%if flash[:error].present?%>
    <%=f.text_field :beginning, :maxlength => 100, :placeholder => "#{flash[:error]}" %>
  <% else %>
    <%=f.text_field :beginning, :maxlength => 100, :placeholder => "What's the best sentence you have?" %>
  <% end %>
  <br>
  <%=f.submit "Start Story" %>
  <% end %>

  <div id="postResult">
  <p id="storyTitle"></h2>
</div>
