<div class="flash-success">
<%if flash[:success]%>
    <p><%=flash[:success]%><br></p>
<%elsif flash[:failure]%>
  <p><%=flash[:failure]%><br></p>
<%end%>
</div>

<%=form_for(genre) do |f| %>
  <%=fields_for :story do |g| %>
    <%if flash[:error].present?%>
      <%=g.text_field :beginning, :maxlength => 100, :placeholder => "#{flash[:error]}" %>
    <% else %>
      <%=g.text_field :beginning, :maxlength => 100, :placeholder => "What's the best sentence you have?" %>
    <% end %>
   <%end %>
  <br>
    <%if flash[:genre_error].present?%>
      <%=f.text_field :name, :placeholder => "#{flash[:genre_error]}" %>
    <%else%>

      <%= f.text_field :name, placeholder: "Add genre", list: "categories_autocomplete" %>
        <datalist id="categories_autocomplete">
          <% Genre.all.each do |genre| %>
            <option value="<%= genre.name %>">
          <% end %>
        </datalist>

    <% end %>
  <%=f.submit "Start Story"%>
  <% end %>
