<%= javascript_include_tag 'home_page' %>
<script type="text/javascript" charset="utf-8">
  var storiesArray = <%=raw @stories_for_js%>
</script>

<div class="story-box">
 <h2>Start a new story.</h2>
 <br>
  <%= render "new_genre_story_form", genre: @genre %>
<!--I AM GOING TO REPLACE THE ABOVE FORM WITH THIS AFTER THE ASSESSMENT - JUST NEEDED A NESTED FORM TO MEET THE REQUIREMENTS -->
  <!--<%= render 'new_story_form', story: @story %> -->
</div>

<div class="other-stories-box">
   <h2> Add to a different story. </h2>
    <%if !@all_stories.nil?%>
      <%= render "all_stories", :story => @all_stories.sample %>
    <% end %>
</div>


<div class="your-stories-box">
  <h2>Your Stories</h2>
  <div class="your-stories-content">
    <%if @user_stories.empty?%>
      <h3>None yet!</h3>
    <% else %>
      <%=render :collection => @user_stories.reverse, :partial => "your_stories", :as => :story %>
    <% end %>
  </div>
</div>


<div class="your-contributions-box">
<h2>Your Contributions</h2>
  <% if @user_contributions.size < 1 %>
      <p> None, yet! </p>
 <% else %>
   <%= render :collection => @user_contributions.reverse, :partial => "your_contributions", :as => :sentence %>
 <% end %>
</div>
