<link rel="stylesheet" href="../app/assets/stylesheets/application.css">
<h1>Hi there, <%=@user.email%>! What story are you going to tell today?</h1>

<h2>Start with a sentence.</h2>
<p>
  <%=form_for(@story) do |f|%>
    <%=f.text_field :content, :maxlength => 100 %>
    <%=f.submit "Start Story" %>
    <% end %>

</p>

<h2> Other Stories </h2>
  <%@all_stories.each do |story| %>
    <%=story.content %> <br>
    Started by: <%=story.user.email%><br>
    Contributors: <%story.users.each do |user| %>
      <%=user.email%><br>
        <%end%>
        <%if story.users.include?(current_user)%>
          <p>You've already contributed to this story</p>
          <%else%>
        <%=link_to("Add a Sentence", edit_story_path(story)) %><br><br>
        <%end%>
    <%end%>

<h2>Your Stories</h2>

<%if @user_stories.empty?%>
    <h3>None yet!</h3>
    <% end %>
<%@user_stories.each do |story|%>
    <h3>THE STORY: <%=story.content%></h3>
    Started by: <%=story.user.email%><br>
    <br>
    Contributors: <%if !story.users.empty? %>
        <%story.users.each do |user| %>
              <%=user.email%>
              <%end%>
          <%else%>
          <p>Just you, for now.</p>
          <%end%>
      <h3><%=link_to("Add a Sentence", edit_story_path(story))%></h3>

    <%end%>





<p><%=link_to('log out', destroy_user_session_path, :method => :delete)%></p>
