<link rel="stylesheet" href="../app/assets/stylesheets/application.css">
<!-- <h1 class="user-heading">“To hell with facts! We need stories!”<br>-Ken Kesey</h1>
<h1 class="user-heading">What story are you going to write today, <%=@user.email%>?</h1> -->


<div class="story-box">
<h2>Start a new story.</h2>
<p>
  <%=form_for(@story) do |f|%>
    <%=f.text_field :content, :maxlength => 100 %>
    <%=f.submit "Start Story" %>
    <% end %>
</p>
</div>

<div class="other-stories-box">
    <h2> Add to a different story. </h2>
      <%story = @all_stories.sample %>
      <div class="individual-story">
        <%=story.content %> <br>
        <br>
          <% if story.sentences.last.user_id == current_user.id %>

              <p style="color: #EF9A9A">You were the most recent to contribute. You can add a new sentence after someone else has.</p>
              <%else%>
            <%=link_to("Add a Sentence", new_story_sentence_path(story.id)) %><br><br>

            <%=link_to "see contributors & more", story_path(story)  %><br>
            <br>
            <%end%>
            <%=link_to("NEXT", user_path(current_user))%>
          </div>

</div>


<div class="your-stories-box">
<h2>Your Stories</h2>

<%if @user_stories.empty?%>
    <h3>None yet!</h3>
    <% end %>
<%@user_stories.each do |story|%>
    <h3>THE STORY: <%=story.content%></h3>
    <br>
    Contributors: <%if !story.users.empty? %>
        <%story.users.each do |user| %>
              <%=user.email%>
              <%end%>
          <%else%>
          <p>Just you, for now.</p>
          <%end%>
          <%if story.sentences.last.user_id != current_user.id %>
      <h3><%=link_to("Add a Sentence", edit_story_path(story))%></h3>
        <% end %>

    <%end%>
</div>


<div class="your-contributions-box">
<h2>Your Contributions</h2>

  <% @user_sentences.each do |sentence| %>
      <p><%=sentence.content%></p>
      <%=link_to("full story", story_path(sentence.story)) %>
      <% end %>
</div>
