<link rel="stylesheet" href="../app/assets/stylesheets/application.css">


<div class="story-box">
<h2>Start a new story.</h2>
<br>
<p>
  <%if flash[:success]%><div class="flash-success"><%=flash[:success]%><br></div><%end%>
  <%if flash[:failure]%><div class="flash-success"><%=flash[:failure]%><br></div><%end%>
  <%=form_for @genre do |f| %>
    <%=fields_for :story do |g| %>
    <%if flash[:error].present?%>
      <%=g.text_field :beginning, :maxlength => 100, :placeholder => "#{flash[:error]}" %>
    <% else %>
      <%=g.text_field :beginning, :maxlength => 100, :placeholder => "What's the best sentence you have?" %>
    <% end %>
      <% end %>
      <br>
      <%if flash[:genre_error].present?%>
        <%=f.text_field :name, :placeholder => "#{flash[:genre_error]}" %>
      <%else%>
        <%=f.text_field :name, :placeholder => "Add a genre here" %>
      <% end %>
    <%=f.submit "Start Story"%>
    <% end %>


<!--I AM GOING TO REPLACE THE ABOVE FORM WITH THIS AFTER THE ASSESSMENT - JUST NEEDED A NESTED FORM TO MEET THE REQUIREMENTS -->

  <!-- <%=form_for(@story) do |f|%>
    <%if flash[:error].present?%>
      <%=f.text_field :beginning, :maxlength => 100, :placeholder => "#{flash[:error]}" %>
    <% else %>
      <%=f.text_field :beginning, :maxlength => 100, :placeholder => "What's the best sentence you have?" %>
    <% end %>
    <br>
      <%=fields_for :genre do |g|%>
        <%=g.text_field :name, :placeholder => "Add a genre here."%>
        <%end%>
    <%=f.submit "Start Story" %>
    <% end %> -->
</p>
</div>

<div class="other-stories-box">
    <h2> Add to a different story. </h2>

    <%if !@all_stories.sample.nil?%>
      <%story = @all_stories.sample %>
      <div class="individual-story">

        <%=story.full_story.nil? ? story.beginning : story.full_story %> <br>
        <br>
          <% if story.sentences.last.nil? && story.user_id != current_user.id %>
            <%=link_to("Add a Sentence", new_story_sentence_path(story.id)) %><br><br>
          <%elsif story.sentences.last.nil? && story.user_id == current_user.id %>
              <p style="color: #EF9A9A">You were the most recent to contribute. You can add a new sentence after someone else has.</p>
          <%elsif story.sentences.last.user == current_user %>
              <p style="color: #EF9A9A">You were the most recent to contribute. You can add a new sentence after someone else has.</p>
          <% else %>
            <%=link_to("Add a Sentence", new_story_sentence_path(story.id)) %><br><br>
            <% end %>
            <%=link_to "see contributors & more", story_path(story)  %><br>
            <br>
            <%=link_to("NEXT", user_path(current_user))%>
            <%else%>
            Nothing here, yet!
            <% end %>
          </div>

</div>


<div class="your-stories-box">
<h2>Your Stories</h2>

<%if @user_stories.empty?%>
    <h3>None yet!</h3>
    <% end %>
<%@user_stories.reverse.each do |story|%>
    <h3><%=story.beginning%></h3>
    <%=link_to("details", story_path(story)) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%=link_to("delete", story_path(story), :method => :delete) %>
    <br>
          <%if !story.sentences.last.nil?%>
          <%if story.sentences.last.user_id != current_user.id %>
      <h3><%=link_to("Add a Sentence", edit_story_path(story))%></h3>
        <% end %>
        <%end%>

    <%end%>
</div>


<div class="your-contributions-box">
<h2>Your Contributions</h2>
  <% if @user_contributions.size < 1 %> None, yet! <% end %>

  <% @user_contributions.reverse.each do |sentence| %>
      <p><%=sentence.content%></p>
      <%=link_to("full story", story_path(sentence.story)) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%=link_to("delete", story_sentence_path(sentence.story, sentence), :method => :delete) %>
      <% end %>
</div>
