<link rel="stylesheet" href="../app/assets/stylesheets/application.css">
<h1>Hi there, <%=@user.email%>! What story are you going to tell today?</h1>

<h2>Start with a sentence.</h2>
<p>
  <%=form_for(@story) do |f|%>
    <%=f.text_field :content, :maxlength => 100 %>
    <%=f.submit "Start Story" %>
    <% end %>

</p>

<h2> Other Stories </h2>
  <%@all_stories.each do |story| %>
    <%=story.content %> <br>
    <%=link_to "see contributors & more", story_path(story)  %><br>

        <% contribution = story.sentences.select {|x| x.user_id.to_i == current_user.id.to_i } %>
        <%if !contribution.empty?%>

          <p><%=link_to("You've already contributed to this story", story_sentence_path(Sentence.find_by_id(contribution.first.id)))%></p>
          <%else%>
        <%=link_to("Add a Sentence", new_story_sentence_path(story.id)) %><br><br>
        <%end%>
    <%end%>

<h2>Your Stories</h2>

<%if @user_stories.empty?%>
    <h3>None yet!</h3>
    <% end %>
<%@user_stories.each do |story|%>
    <h3>THE STORY: <%=story.content%></h3>
    Started by: <%=story.user.email%><br>
    <br>
    Contributors: <%if !story.users.empty? %>
        <%story.users.each do |user| %>
              <%=user.email%>
              <%end%>
          <%else%>
          <p>Just you, for now.</p>
          <%end%>
      <h3><%=link_to("Add a Sentence", edit_story_path(story))%></h3>

    <%end%>





<p><%=link_to('log out', destroy_user_session_path, :method => :delete)%></p>
