<div class="stats-box">
  <div class="stats-box-info">

     <h1>Username: <%if @user.username.nil?%><%=link_to("choose a username", edit_user_path(@user))%><%else%><%=@user.username%><%end%></h1>
    Email: <%=@user.email%><br>
    Number of stories started:&nbsp;&nbsp;<%=@stories%><br>
    Number of sentences contributed:&nbsp;&nbsp;<%=@sentences%><br>
    Upvoted sentences:&nbsp;&nbsp;<%=@upvotes%><br>
<%if !@user.username.nil? && @user.id == current_user.id%><%=link_to "edit username", edit_user_path(@user) %><%end%>
    </div>

    <div class="back-to-profile">
      <%=link_to("Go back", user_path(current_user)) %>
  </div>
</div>
