<div class="story-show-page">

 <h1>The Story So Far:</h1>

   <div class="the-story-in-show">
     <%= render partial: 'current_stories', locals: {story: @story, sentence: @sentence}%>
   </div>

 <h3>Contributors:</h3>
  <p id="upvote-flash"><%=any_flash_messages?%></p>
   <div class="contributors-box">
      <%=render 'first_sentence', story: @story %>
      <%=render :collection => @story.sentences, :partial => "story_sentences", :as => :sentence %>
   </div>

 <div class="story-started-by">
   <h3>Upvoted by:</h3>
    <br>
     <p><%=has_upvotes?(@story)%></p>
    <br>
    <br>
 </div>

 <div class="back-to-profile">
   <%=link_to("Back to Your Profile", user_path(current_user)) %>
 </div>
</div>
