<div class="story-show-page">


<h1>The Story So Far:</h1>
<div class="the-story-in-show">

  <p><%=@story.full_story %></p>
  <br>
    <p class="upvotes">total upvotes: <%=@story.upvotes.size%></p>
    <% if !@story.sentences.last.nil? %>
      <% if @story.sentences.last.user != current_user %>
        <%=form_for @sentence, :url => story_sentences_path(@story.id) do |f| %>
        <%=f.text_field :content %>
        <%=f.submit "Add your sentence" %>
          <% end %>
        <%end%>
        <% end %>

  <br>
    <div class="story-started-by">
  <h3>Started by:</h3><p><%=@story.user.username%></p><br>
  </div>

  <h3>Contributors:</h3>
  <div class="contributors-box">
    <!--FIRST SENTENCE IS THE STORY BEGINNING -->
    <div class="contributor-2">
      <p><%=@story.user.username%>:&nbsp;&nbsp;<%=link_to "#{@story.beginning}", story_path(@story) %><br>
    </div>
    <% if @story.already_voted_story? { current_user.id } %>
    <%if flash[:success].present?%>
      <%=flash[:success] %>
    <%elsif flash[:error].present?%>
      <%=flash[:error]%>
      <% end %>
      <p class="upvotes">you upvoted this!&nbsp;&nbsp;|&nbsp;&nbsp;
    <% else %>
    <p class="upvotes"><%=link_to "upvote", story_upvotes_path(@story), :method => :post %>&nbsp;&nbsp;|&nbsp;&nbsp;
  <%end%>
    total upvotes: <%=@story.upvotes.size%></p><br>
    <br>

    <!--END STORY BEGINNING, MOVE TO STORY SENTENCES -->
    <%count = 1 %>
    <%@story.sentences.each do |sentence| %>
      <%if count.odd?%>
        <div class="contributor-1">
      <%else%>
        <div class="contributor-2">
      <% end %>

      <p><%=sentence.user.username%>:&nbsp;&nbsp;<%=link_to "#{sentence.content}", story_sentence_path(@story, sentence) %></p><br>

          <% if sentence.already_voted? { current_user.id } %>
          <%if flash[:success].present?%>
            <%=flash[:success] %>
          <%elsif flash[:error].present?%>
            <%=flash[:error]%>
            <% end %>
            <p class="upvotes">you upvoted this!&nbsp;&nbsp;|&nbsp;&nbsp;
          <% else %>
          <p class="upvotes"><%=link_to "upvote", story_sentence_upvotes_path(@story, sentence), :method => :post %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <%end%>
          total upvotes: <%=sentence.upvotes.size%></p><br>
          <br>
        <%count+=1%></div>
        <%end%></p>
      </div>
    </div>
    <!--END CONTRIBUTORS -->

    <!--START UPVOTES USERS LIST -->

  <div class="story-started-by">
    <h3>Upvoted by:</h3>
    <p><%@story.all_upvotes.each do |vote| %>
        <%=vote%>,
        <%end%></p>
        <br>
        <br>
  </div>


<br>
<br>
<div class="back-to-profile">
<%=link_to("Back to Your Profile", user_path(current_user)) %>
</div>
</div>
