<nav class="navbar navbar-right navbar-default navbar-fixed-top">
  <div class="nav-container">
      <ul class="nav navbar-nav navbar-right header-links">
        <li><%=link_to("Home", root_path)%></li>
        <%if current_user%>
          <li><%=link_to("Your Profile", user_stats_path(current_user))%></li>
          <!--<li><%=link_to("Random Story", story_path(random_story))%></li>-->
          <li><%=link_to("Log Out", destroy_user_session_path, :method => :delete)%></li>
        <%else%>
          <li><%=link_to("Sign Up", new_user_registration_path)%></li>
          <% end %>
          </ul>
            <li class="logo-nav"><%=link_to("STORYLINE.", root_path)%></li>

        </div>






</nav>
