<nav class="navbar navbar-right navbar-default navbar-fixed-top">
  <div class="nav-container">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" href=".navbar-collapse">
       <span class="sr-only">Toggle Navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>



    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right header-links">
        <li><%=link_to("Home", root_path)%></li>
        <%if current_user%>
          <li><%=link_to("Your Profile", user_stats_path(current_user))%></li>
          <%if random_story%>
            <li><%=link_to("Random Story", story_path(random_story))%></li>
          <% end %>   
          <li><%=link_to("Log Out", destroy_user_session_path, :method => :delete)%></li>
        <%else%>
          <li><%=link_to("Log In", new_user_session_path) %></li>
          <li><%=link_to("Sign Up", new_user_registration_path)%></li>
          <% end %>
          </ul>

            <li class="logo-nav"><%=link_to("STORYLINE.", root_path)%></li>
        </div>
      </div>






</nav>
